
<div class="nested-fields">


<%= f.input :name, input_html: {class: 'span7'}, label: 'Program Type'  %>
<%= f.input :task, input_html: {style: 'height:300px;', class: 'span7'}, as: :text  %>
<%= link_to_remove_association "Remove Program Type", f %> 


</div>

  
