
<div class="nested-fields">

<table class="table table-striped"> 

<tr>
   <td><%= f.input :tasks %> </td>
	<td>   <%= link_to_remove_association "Remove Program Tasks", f %> </td>
</tr>
</table>
 
</p>
</div>
